.nav-bar {
  padding: 1rem 4rem;
  background-color: var(--clr-midnight-blue);
  color: var(--clr-white);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.nav-bar a {
  color: var(--clr-white);
}
.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-bar .logo {
  display: flex;
  align-items: center;
  color: var(--clr-white);
}
.nav-bar .logo {
  display: flex;
}
.nav-bar .logo h2 {
  font-weight: 700;
  display: flex;
}
.nav-bar .logo .danger {
  color: red;
}
.nav-bar .access-links {
  display: flex;
  gap: 2rem;
}

.links-container {
  height: auto !important;
}
.links {
  display: flex;
}
.links a {
  padding: 0;
  margin: 0 0.5rem;
  color: var(--clr-text-color);
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 0.5rem 1rem;
  /* transition: var(--transition); */
}
.links a:hover {
  /* padding: 0; */
  color: var(--clr-dark-blue);
  background: transparent;
}
.nav-bar .app-links {
  /* text-transform: capitalize; */
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-bar .app-links svg:hover {
  color: var(--clr-midnight-blue);
}
.nav-bar .app-links > div {
  border: 2px solid var(--clr-dark-blue);
  height: fit-content;
  padding: 0.5rem;
  font-weight: 600;
  /* border-radius: 5rem; */
  letter-spacing: 2px;
  cursor: pointer;
  background: var(--clr-dark-blue);
}
.nav-bar .app-links div:first-child {
  background: transparent;
  border: none;
}
.nav-bar .app-links div:first-child:hover {
  background: var(--clr-dark-blue);
}
.nav-bar .app-links div a {
  color: var(--clr-white);
}
.nav-bar .app-links div:hover {
  background: transparent;
}
.nav-bar .app-links h4 {
  font-weight: 600;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.nav-toggle {
  font-size: 1rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  display: none;
}
.nav-toggle:hover {
  color: var(--clr-black);
  transform: rotate(45deg);
}
/* =====For Small screens====== */

@media screen and (max-width: 600px) {
  .nav-bar {
    align-items: center;
    padding: 1rem;
  }
  .nav-bar .access-links {
    display: none;
  }

  .links-container {
    background: var(--clr-dark-blue);
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    /* left: 2rem; */
    top: 4rem;
    padding: 1rem;
  }
  .links a:hover {
    padding-left: 1.5rem;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .nav-bar .app-links > div {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .nav-bar .app-links .log-in {
    display: none;
  }
  .nav-bar .app-links .nav-toggle {
    display: block;
  }
}
