:root {
  --clr-white: #fff;
  --clr-black: #222;
  --clr-midnight-blue: #6d6cb0;
  --clr-blue-gray: #9aaeff;
  --clr-light-blue: #a0b0ef;
  --clr-dark-blue: #473578;
  --clr-deep-blue: #0b1d39;
  --clr-baby-blue: #dd96e1f;
  --clr-green: #28a212;
  --clr-faint-border: rgba(159, 149, 149, 0.562);
  --container-width-lg: 95%;
  --container-width-md: 90%;
  --background: #fcf5ff;
  --border-radius: 3px;
  --radius: 10px;
  --padding: 0.8rem 1.8rem;
  --transition: all 400ms ease-in;
  --shadow: 0 1rem 2rem rgba(136, 138, 149, 0.247);
}
/* #473578	(71,53,120)
#6d6cb0	(109,108,176)
#9aaeff	(154,174,255)
#9b45a1	(155,69,161)
#dd96e1	(221,150,225) */
/*
  =============== General Styles ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
  color: var(--clr-black);
  line-height: 1.2;
  overflow-x: hidden;
}

/* html {
  scroll-behavior: smooth;
} */

.container {
  width: var(--container-width-lg);
  margin: auto;
  max-width: 1970px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-white);
  background: var(--clr-dark-blue);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--clr-blue-gray);
  transition: var(--transition);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.btn:hover {
  background: var(--clr-light-blue);
  color: var(--clr-black);
}

/* =====For Medium screens====== */

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}
/* =====For Small screens====== */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
}
